body{
   background: #dde2f5;
   margin: 0;
}

.encriptador{
    display: flex;
    flex-direction: row;
}

.leftSide{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 40px;
}

#logo{
    width: 120px;
    height: 48px;
    flex-shrink: 0;
}

textarea, textarea::placeholder{
    background: none;
    border: none;
    color:#0A3871;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-top: 40px;
    margin-left: 180px;
    resize: none;
}

textarea:focus{
    outline: none;
}

.groupbtns{
    align-self: center;
    margin-top: 40px;
}

.warning{
    margin-bottom: 10px;
}

.warningText{
    color: #495057;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    opacity: 0.8;
    
}

.buttons {
    display: flex;
    flex-direction: row;
}

.btn{
    justify-content: center;
    font-size: 20px;
    color: #fff;
    border-radius: 24px;
    background: #0A3871;
    display: flex;
    width: 328px;
    padding: 24px;
    align-items: flex-start;
    gap: 8px;
    flex-shrink: 0;
}

.btn2{
    background: none;
    justify-content: center;
    font-size: 20px;
    color: #0A3871;
    border-radius: 24px;
    border: 1px solid #0A3871;
    display: flex;
    width: 328px;
    padding: 24px;
    align-items: flex-start;
    gap: 8px;
    flex-shrink: 0;
    margin-left: 30px;
}

.rightSide{
    width: 30%;
    margin: 40px;
}

.boxContent{
    background-color: #fff;
    width: 400px;
    height: 665px;
    flex-shrink: 0;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    text-align: center;
}

#response{
    display: none;
    width: 336px;
    height: 781px;
    flex-shrink: 0;
    word-wrap: break-word;
    margin: 10px;
    padding: 20px;
}

.responseText{
    color: #495057;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    height: 65%;
}

.copybtn{
    justify-content: center;
    font-size: 20px;
    color: #0A3871;
    border-radius: 24px;
    border: 1px solid #0A3871;
    display: flex;
    width: 328px;
    padding: 24px;
    align-items: flex-start;
    gap: 8px;
    margin-top: 40px;
    flex-shrink: 0;
}

#figure{
    width: 336px;
    height: 304px;
    flex-shrink: 0;
    margin-top: 30%;
}

.emptyTitle{
    color: #343A40;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.emptyText{
    align-self: stretch;
    color: #495057;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin: 0 32px;
}

/* TABLET */
@media (min-width: 768px) and (max-width: 1024px) {
    body {
            background: #dde2f5;
            margin: 0;
        }
    
    .encriptador {
        display: flex;
        flex-direction: column;
    }

    .leftSide {
        display: flex;
        flex-direction: column;
        width: 70%;
        margin: 40px;
    }

    #logo {
        width: 90px;
        height: 38px;
        flex-shrink: 0;
    }

    textarea,
    textarea::placeholder {
        background: none;
        border: none;
        color: #0A3871;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        margin-top: 40px;
        margin-left: 180px;
        resize: none;
    }

    textarea:focus {
        outline: none;
    }

    .groupbtns {
        align-self: center;
        margin-top: 160px;
        margin-left: 160px;
    }

    .warning {
        margin-bottom: 10px;
    }

    .warningText {
        color: #495057;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        opacity: 0.8;

    }

    .buttons {
        display: flex;
        flex-direction: row;
        
    }

    .btn {
        justify-content: center;
        font-size: 20px;
        color: #fff;
        border-radius: 24px;
        background: #0A3871;
        display: flex;
        width: 328px;
        padding: 24px;
        align-items: flex-start;
        gap: 8px;
        flex-shrink: 0;
    }

    .btn2 {
        background: none;
        justify-content: center;
        font-size: 20px;
        color: #0A3871;
        border-radius: 24px;
        border: 1px solid #0A3871;
        display: flex;
        width: 328px;
        padding: 24px;
        align-items: flex-start;
        gap: 8px;
        flex-shrink: 0;
        margin-left: 30px;
    }

    .rightSide {
        margin-right: 562px;
        margin-bottom: -1px;
        align-self: center;
        
    }

    .boxContent {
        background-color: #fff;
        width: 688px;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        padding: 32px;
        height: auto;
        border-radius: 32px;
        box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
        text-align: center;
    }

    #response {
        display: none;
        width: 336px;
        height: auto;
        flex-shrink: 0;
        word-wrap: break-word;
        margin: 10px;
        padding: 20px;
    }

    .responseText {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        height: auto;
        width: 624px;
    }

    .copybtn {
        justify-content: 
        center;
        font-size: 20px;
        color: #0A3871;
        border-radius: 24px;
        border: 1px solid #0A3871;
        display: flex;
        padding: 24px;
        width: 648px;
        align-items: flex-start;
        gap: 8px;
        margin-top: 40px;
        flex-shrink: 0;
    }

    #figure {
        display: none;
    }

    .emptyTitle {
        color: #343A40;
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
    }

    .emptyText {
        align-self: stretch;
        color: #495057;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        margin: 0 32px;
    }
}

/* CELULAR */
@media (min-width: 320px) and (max-width: 480px){
    
}